<!DOCTYPE html>
<html>
    <head>
        <title>Uplan</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
        {% load static %}
        <link rel="stylesheet" href='{% static "index/css/style.css" %}' type="text/css" media="screen" charset="utf-8" >
    </head>
    <body>
        <!-- strart of navbar -->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
            <div class="container">
                <a class="navbar-brand brand" href="#"><span>U </span>plan</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item active">
                        <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">LogIn</a>
                      </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- end of navbar -->
        
        <!-- start of header-->
        <div class="header"  > 
            <div class="layout">
                <div class="container">
                    <div class="row ">

                        
                        <div class="col-md-6">
                            <h1><span>U </span>PLAN</h1>
                            <p>Uplan give you oppurtiounty to share your day plan , meeting people have the same interests you have </p>
                        </div>
                    
                        
                        <div class="col-md-6">
                            <form>
                                <h2>Start your journey</h2>
                                <input class="form-control" type="text" placeholder="username" name="username"><br>
                                <input class="form-control" type="email" placeholder="email" name="email"><br>
                                <input class="form-control" type="password" placeholder="password" name="password"><br>
                                <button>Get Started</button>
                            </form>
                        </div>
 
                    </div>
                </div>
            </div>
        </div>
        
        
        
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    </body>
</html>