<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->


      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        {% load static %}
      <link rel="stylesheet" href="../../static/css/style.css">
    <title>chat room</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light movenav">
      <a class="navbar-brand" href="">Uchat</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
   
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="container">
        <div class="row">
            <!-- divide the page into 3 - 6 - 3 !-->
            <div class="col-md-3">
        
            </div>
            
            <div class="col-md-6 movechat">
                <div class="chat">
                    <div class="people">
                    </div>
                    <div class="masseages">

                    </div>
                    <div class="input-group mb-0">
                        <input type="text" class="form-control" placeholder="write your masseage" aria-label="Recipient's username" aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="button">Send</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-3">
     
            </div>
        </div>
    </div>
      <script>
          document.addEventListener('DOMContentLoaded',function(){
             
              var masseages =  document.querySelector('.masseages');
              var roomName = '{{room_name}}';
              var chatSocket = new WebSocket('ws://' + window.location.host +'/ws/chat/' + roomName + '/loadprevious' +'/');
                chatSocket.onmessage = async  function(e)
                {
                    var data = JSON.parse(e.data)
                    
                    chat_pieces = data["masseages"]
                    
                    for(var i=0; i<chat_pieces.length; i++ )
                        {
                            ele = document.createElement('div');
                            
                            sender = document.createElement('a');
                            sender.className='btn btn-primary disabled';
                            sender.style.color = 'white'
                            sender.append(chat_pieces[i]['user'] + "  ");
                            
                            ele.append(sender);
                            ele.append("       "+chat_pieces[i]['text']);
                            ele.dataset.id =chat_pieces[i]['pk'];
                            ele.className = 'alert alert-info   ';
                            
                            masseages.insertBefore(ele,masseages.childNodes[0])
                        }
                    // just testing 
                    //ele = document.createElement('div');
                    //ele.append('rihs my firtsaa app');
                    //ele.dataset.name = "mohaed"
                    //masseages.insertBefore(ele,masseages.childNodes[0])
                     //console.log(masseages.childNodes[0].dataset['name'])
                }
            
                masseages.onscroll = async function ()
                {
                    masseage_at_top = masseages.firstElementChild.dataset.id;
                    
                    
                    
                    if( masseages.scrollTop == 0)
                        {
                            await sleep(1000);
                            chatSocket.send(JSON.stringify({"id": masseage_at_top}));
                        }
                    
                }
                function sleep(ms) {
                      return new Promise(resolve => setTimeout(resolve, ms));
                    }
              
          });
      </script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>